<div class="container pt-5 text-center">
  <h1>Asignaciones Sistema Transmilenio</h1>
</div>

<p-card class="flex justify-content-center mt-5 bg-card">
  <form [formGroup]="assignmentForm" (submit)="onSubmit()">

    <div class="flex justify-content-center">
      <p-dropdown id="selectedDriver" [options]="drivers" optionLabel="name" formControlName="selectedDriver"
        placeholder="Selecciona el conductor" class="p-input me-3"></p-dropdown>

      <p-dropdown id="selectedBus" [options]="buses" optionLabel="plate" formControlName="selectedBus" placeholder="Selecciona el bus"
        class="p-input me-3"></p-dropdown>

      <p-dropdown id="selectedRoute" [options]="routes" optionLabel="code" formControlName="selectedRoute" placeholder="Selecciona la ruta"
        class="p-input me-3"></p-dropdown>

    </div>

    <div class="mt-3 justify-content-center">
      <p-dropdown id="selectedDay" [options]="scheduleDays" formControlName="selectedDay"
        placeholder="Selecciona el día del horario" class="me-3"></p-dropdown>

      <p-calendar id="startTime" [showIcon]="true" [timeOnly]="true" formControlName="startTime" placeholder="Hora de Inicio" class="me-3"></p-calendar>

      <p-calendar id="endTime" [showIcon]="true" [timeOnly]="true" formControlName="endTime" placeholder="Hora de Fin"></p-calendar>

    </div>

    <div class="text-center mt-3">
      <button id="btnAssigment" pButton type="submit" [disabled]="!assignmentForm.valid">Guardar</button>
    </div>

  </form>
</p-card>

<ng-container *ngIf="assignments.length > 0; else noAssignment">
<div class="container mt-5">
    <table class="table table-bordered text-center margin-table table-style">
      <thead class="table-primary">
        <tr>
          <th scope="col">Conductor</th>
          <th scope="col">Bus</th>
          <th scope="col">Ruta</th>
          <th scope="col">Horario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assign of assignments">
          <td class="table-text">{{assign.driver?.name}} {{assign.driver?.lastName}} - {{assign.driver?.identifier}}</td>
          <td class="table-text">{{assign.bus?.plate}}</td>
          <td class="table-text">{{assign.route?.code}}</td>
          <td class="table-text">{{assign.schedule?.assignedDay}} {{assign.schedule?.startTime | date:'shortTime' }} a {{assign.schedule?.endTime | date:'shortTime' }}</td>
        </tr>
      </tbody>
    </table>
</div>
</ng-container>

<ng-template #noAssignment>
  <div class="text-center mt-5">
    <p>No hay asignaciones en el sistema</p>
  </div>
</ng-template>
