<ng-container *ngIf="!hasRoleAdmin; else noAuthorization">
<div class="container pt-5 title-color">
  <h1 class="title-color text-center">Listado de Buses - Transmilenio </h1>
</div>
<div class="container">
  <a class="btn btn-primary btn-sm my-4" routerLink="/bus/create" routerLinkActive="active">Nuevo Bus</a>

  <table class="table table-bordered text-center margin-table table-style">
      <thead class="table-primary">
          <tr>
              <th scope="col">Placa</th>
              <th scope="col">Modelo</th>
              <th scope="col">Rutas Asignadas</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let bus of buses">
              <td class="table-text">{{bus.plate}}</td>
              <td class="table-text">{{bus.model}}</td>
              <td>
                <button class="btn btn-info btn-sm"  [routerLink]="['/bus', bus.id ,'assignedRoutes']">Ver Rutas</button>
              </td>
              <td>
                  <button class="btn btn-info btn-sm"  [routerLink]="['/bus/edit', bus.id]">Editar</button>
              </td>
              <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteBus(bus)">Eliminar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
</ng-container>
<ng-template #noAuthorization>
  <div class="title-color text-center title-permission">
    <h3>No puede acceder a este contenido.</h3>
  </div>
</ng-template>

